@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center divHome">
        <img src="~/images/PiattaformaEquitalia.png" />
        <br />
        <img src="~/images/Slide1.png" />
    </div>
