
@{
    ViewData["Title"] = "ErroreDettaglioDistinte";
}

<h1>Errore Dettaglio Distinte</h1>
<br/>
<p>
    C'è stato un errore nell'elaborare la richiesta di ricerca del dettaglio distinta.
    Si prega di riprovare.
</p>

