
@{
    ViewData["Title"] = "ErroreDettaglioDistinte";
}

<h4>Errore Dettaglio Distinte</h4>
<hr />
<br/>
<p>
    C'è stato un errore nell'elaborare la richiesta di ricerca del dettaglio distinta.
    Si prega di riprovare.
</p>

