<html>
<head>
    <title>No Files Uploaded</title>

</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Nessun file caricato</h1>
        <p>
            Nessun file caricato, controllare che l'estensione del o dei files sia quella consentita e che ci sia sufficiente spazio nella cartella di upload!

        </p>
    </div>
</body>
</html>
