@using RAR.WEB.MVC.Models
@model Outcome
@{
    ViewData["Title"] = "Outcome";
}
    <div class="text-center">
        <h4 class="display-4">Esiti</h4>
        <hr />

        <p>
            @Model.Response
        </p>
    </div>
